div {
  & .modalLogin {
    margin:0 auto;
    align-items: center;
    width: 100%;
    height:500px;

    & .loginLogo {
      background-color: #232323;
      width: 100%;
      height: 50px;
      margin: 0 0 30px 0;
    }

    & .loginTitle {
      /* justify-content: center; */
      margin-left:28%;
      /* align-items: center;
      align-content: center; */
    }

    & .loginForm {
      padding:20px 50px 20px 50px;

      & .flexInput {
        display:flex;
        padding:5px 0 5px 0;
        align-items: center;
      }

      & .flexLabelLeft {
        flex: 0 0 20%;
      }

      & .flexLabelRight {
        flex: 0 0 80%;
      }
    }

    .loginButtonComponent {
      padding:30px 50px 20px 50px;
      display:list-item;

      & .commonButton {
        width:100%;
        padding: 10px 0 10px 0;
        font-size: 1.25rem;
      }

      & .loginButton {
        background-color: #2222dd;
      }

      & .signInButton {
        background-color: #eeeeee;
      }

      & .findIdPasswordButton {
        background-color: #dddddd;
      }
    }
  }
}
