/* 메인 페이지 전체 컴포넌트 부분 */
.mainContainer {
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}


/* 왼쪽 화면 출력 부분 */
.mainMenu {
  background-color: #fff3d4;
  color: #333;
  width: 20%;
  
}

.mainMenuHeader {
  padding: 10% 1% 0 15%
}

/*-----------------------------------------------------------*/

/* 오른쪽 화면 출력 부분 */
.mainComponents {
  width: 80%;
}

/* 헤더 부분 */
.mainComponentHeader {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 10%;
  width:100%;
  font-size: 1.2em;
  //헤더와 컨테이너 사이 구분선 (헤더에 Row 태그에 달려 있음)
  border-bottom: 15px #fff3d4 solid;
}

/* header 부분 Navbar처럼 표시하기 위해 설정함 */
.mainComponentHeaderNav {
  text-align: center;
  min-width: 150px;
  padding-right: 2%;
}


/* 컨테이너(페이지 표시) 부분 */