// Web 버전 컨테이너
.myPageWebContainer {
  text-align : left;
  margin: 5em 5em 5em 5em;
}

// mobile 버전 컨테이너
.myPageMobileContainer {
  text-align : left;
  margin: 1em 1em 1em 1em;
}

.myPageContainer {
  /* margin: 0 auto; */
  min-height:100hv
}
