// 웹 환경 컨텐츠 - 각 사용자 컴포넌트 화면에 출력될 view 조정

// 가운데 정렬 - 컴포넌트별
.componentCenterAlign {
  padding: 0.5rem calc((100vw - 1000px)/2);
}


/* 카테코리 안의 있는 헤더 (타이틀) */
.title {
  min-height:15vh;
  // border-bottom-right-radius: 3px;

  /* 검색 메뉴의 대한 타이틀 */
  & .inputBoxComponent {
    max-width: 100%;
    display: grid;
    height:3vh;
    padding-left: 60%;

    & .searchBox {
      max-width: 500px;
      height: 100%;
      font-size: 0;
    }
  }
}

button>* {
  position: relative;
}

/* 다음으로는 게시판 css */
h2 {
  color: #000;
  font-size: 28px;
  font-weight: normal;
}


/* 악보 정보 */
/* 상세 정보 폼*/
// 모달용
.sheetDetail {
  width: 100%;
  height: 800px;
  z-index: 9999;
  border: 1px solid;
  padding: 40px 40px 40px 40px;
  margin: 0 auto;
  background: white;
  overflow: scroll;

  & .sheetDetailTitle {
    top: 65px;
    background: #eee;
    padding: 15px 15px 15px 15px;
    border-bottom-right-radius: 3px;
    margin-bottom: 50px;
    // width: 900px;
    width: 100%;
  }
}

/* 장르 정보 관련 */
.commonContentDetailContainer {
  height: 20%;
  margin-bottom: 150px;
  align-items: center;
}

.album {
  display: inline-block;
  width: 200px;
  height: 200px;
}

/* 장르 정보 관련 컨테이너 */
.detailContainer {
  margin-left: 50px;
}


/* 여기는 상세 정보 위치 조정 */


// 새로 추가

.sheetImgCard {
  width:100%;
  height:200px;
}

// 마이페이지 악보 리스트 추출

.sheetComponent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: col;
  width:100%;

  & .sheetContents{
    width:180px;
    height:250px;
    padding: 2% 2% 2% 2%;
    margin-bottom: 7vh;
  }
}

.paging {
  margin: 2.5rem auto !important;
  padding: 10px auto !important;
  float: none;
  text-align: center;
  display: inline-block;
}

.commonEllipsisTitle {
  display: -webkit-box;
  width:250px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.commonEllipsisContent {
  display: -webkit-box;
  width:250px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
}