/* 공통 마이페이지 */
.mypageHeader {
  background-color: #FFF3D4;
  height:480px;
  width:100%;

  & .mypageBanner {
    width:1200px;
    height:300px;
  }

  & .profileHeader {
    max-width: 1200px;
    margin: 0 auto;

    & .profileImg{
      position:relative;
      flex-wrap: wrap;
      width:200px;
      height:200px;
      border-radius: 70%;
      overflow: hidden;
      margin-top: -60px;
      
      & .imgSize {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}






/* 마이페이지 메뉴 결과물 */