/* User 정보 */


// Web 버전 컨테이너
.myPageWebContainer {
  text-align : left;
  margin: 5em 5em 5em 5em;
}

// Mobile 버전 컨테이너
.myPageMobileContainer {
  text-align : left;
  margin: 1em 1em 1em 1em;
}

// 가운데 정렬 - 컴포넌트별
.componentCenterAlign {
  display: flex;
  justify-content: center;
  //padding: 0.5rem calc((100vw - 1000px)/2);
}


.myPageUserInfoForm {
  min-height: 50vh;
  align-items: center;
  display: grid;

}
