<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnewze.back.clnewzeback.room.PracticeRoomMapper">
  
  <!-- <select id="selectList" resultType="java.util.List"> -->
  <select id="selectList" resultType="PracticeRoom">
    select 
      p.pno, 
      p.title,
      tu.user_name, 
      p.img, 
      p.place,
      p.contents, 
      p.upload_date as upLoadDate, 
      p.price, 
      p.categories,
      p.uno
    from practiceroom p 
      left join t_user tu 
    on p.uno=tu.uno
    <where>
      <if test="categories != 'null'">
        and categories=#{categories}
      </if>
      <if test="uno !=null and uno gt 0">
        and tu.uno = #{uno}
      </if>
    </where>
    limit #{limit} offset #{pageNo}
  </select>
  <select id="selectListAllCount" resultType="int">
    select count(*) from practiceroom
  </select>

  
  <!-- 연습실 추가 -->
  <insert id="insertPracticeRoom">
    INSERT INTO practiceroom
      (pno, title, img, name, place, contents, upload_date, price, categories, uno)
    VALUES('', '', '', '', '', '', 0, '', 0);
  </insert>
  
  
</mapper>