<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnewze.back.clnewzeback.mapper.PracticeRoomMenuCategoryMapper">
  
  <!-- 사용 Menu 리스트 출력 -->
  <select id="category" resultType="PracticeRoomMenuCategory">
    select * from master_menu_practiceroom order by orderby asc;
  </select>

  <!-- PracticeRoomMenu 전체 수 조회 -->
  <select id="categoryCountPracticeRoomMenu" resultType="Long">
    select count(*) from master_menu_practiceroom;
  </select>

  <!-- PracticeRoomMenu 마지막 행 출력 -->
  <select id="lastPracticeRoomMenuTable" resultType="PracticeRoomMenuCategory">
    select * from master_menu_practiceroom mmt order by ptno desc limit 1;
  </select>
  
  <!-- PracticeRoomMenu 생성 -->
  <insert id="createPracticeRoomMenu">
    INSERT INTO master_menu_practiceroom  (name, category) value (#{name},#{category})
  </insert>

<!-- orderby 갱신, 테이블 추가시 orderby 부여 -->
  <update id="orderbyChangePracticeRoomMenu">
    update master_menu_practiceroom set orderby=#{changeOrder} where ptno = #{ptno}
  </update>

<!-- PracticeRoomMenu 내용물 수정 -->
  <update id="updatePracticeRoomMenu">
    update master_menu_practiceroom set
      name=#{name} ,
      category=#{category} 
    where ptno = #{ptno}
  </update>

  <delete id="deletePracticeRoomMenu">
    delete from master_menu_practiceroom where ptno = #{ptno}
  </delete>
  <!-- 
    void createPracticeRoomMenu(String name, String category);
  void orderbyChangePracticeRoomMenu(Long changeOrder);
  void updatePracticeRoomMenu(PracticeRoomMenuCategory teacherMenuCategory);
  void deletePracticeRoomMenu(Long mtno); 
  -->
</mapper>