<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnewze.back.clnewzeback.mapper.SheetMusicMapper">
  
  <!-- <select id="selectList" resultType="java.util.List"> -->
  <select id="selectList" resultType="SheetMusic">
    select * from sheetmusic
    <if test="genre != 'null'">
      where genre=#{genre}
      limit #{limit} offset #{pageNo}
    </if>
  </select>

  <select id="selectListAllCount" resultType="int">
    select count(*) from sheetmusic
  </select>
  
  
</mapper>