<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnewze.back.clnewzeback.mapper.SheetMusicMapper">
  
  <!-- <select id="selectList" resultType="java.util.List"> -->
  <!-- 악보 출력, 여기서, genre와 uno(유저번호)는 없으면 조건절에서 제외함 -->
  <select id="selectList" resultType="SheetMusic">
    select 
      s.sno, 
      tu.user_name,
      s.title,
      s.view_number,
      s.artist,
      s.img,
      s.genre, 
      s.release_date,
      s.album_name,
      s.music_link,
      s.contents,
      s.upload_date,
      s.sheet_file,
      s.uno
    from sheetmusic s 
      left join t_user tu 
    on s.uno = tu.uno
    <where>
      <if test="genre != 'null'">
        and s.genre=#{genre}
      </if>
      <if test="uno !=null and uno gt 0">
        and tu.uno = #{uno}
      </if>
    </where>
    limit #{limit} offset #{pageNo}
  </select>

  <select id="selectListAllCount" resultType="int">
    select count(*) from sheetmusic
  </select>

  <!-- 악보 삽입 -->
  <insert id="insertSheetMusic">
    INSERT INTO music.sheetmusic
    (username, title, viewNumber, artist, img, genre, releaseDate, albumName, musicLink, contents, uploadDate, sheetFile, uno)
    VALUES(#{userName}, #{title} 0, #{artist} #{img} #{genre}, #{releaseDate} #{albumName}, #{musicLink}, #{contents}, #{uploadDate}, #{sheetFile}, #{uno})
  </insert>

  <!-- 악보 수정 -->
  <update id="updateSheetMusic">
    UPDATE music.sheetmusic
      SET 
      <if test="title != 'null'">
        title='', 
      </if>
      <if test="artist != 'null'">
        artist='', 
      </if>
      <if test="img != 'null'">
        img='', 
      </if>
      <if test="genre != 'null'">
        genre='', 
      </if>
      <if test="releaseDate != 'null'">
        releaseDate='', 
      </if>
      <if test="albumName != 'null'">
        albumName='', 
      </if>
      <if test="musicLink != 'null'">
        musicLink='', 
      </if>
      <if test="contents != 'null'">
        contents='', 
      </if>
      <if test="sheetFile != 'null'">
        sheetFile='', 
      </if>
    WHERE ino=#{ino};
  </update>

  <delete id="deleteSheetMusic">
    DELETE FROM music.sheetmusic
    WHERE ino=#{ino};
  </delete>
  
</mapper>