<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnewze.back.clnewzeback.teacher.TeacherMenuCategoryMapper">
  
  <!-- 사용 Menu 리스트 출력 -->
  <select id="category" resultType="TeacherMenuCategory">
    select * from master_menu_teacher order by order_by_no asc;
  </select>

  <!-- TeacherMenu 전체 수 조회 -->
  <select id="categoryCountTeacherMenu" resultType="Long">
    select count(*) from master_menu_teacher;
  </select>

  <!-- TeacherMenu 마지막 행 출력 -->
  <select id="lastTeacherMenuTable" resultType="TeacherMenuCategory">
    select * from master_menu_teacher mmt order by mtno desc limit 1;
  </select>
  
  <!-- TeacherMenu 생성 -->
  <insert id="createTeacherMenu">
    INSERT INTO master_menu_teacher  (name, category) value (#{name},#{category})
  </insert>

<!-- orderby 갱신, 테이블 추가시 orderby 부여 -->
  <update id="orderbyChangeTeacherMenu">
    update master_menu_teacher set orderby=#{changeOrder} where mtno = #{mtno}
  </update>

<!-- TeacherMenu 내용물 수정 -->
  <update id="updateTeacherMenu">
    update master_menu_teacher set
      name=#{name} ,
      category=#{category} 
    where mtno = #{mtno}
  </update>

  <delete id="deleteTeacherMenu">
    delete from master_menu_teacher where mtno = #{mtno}
  </delete>
</mapper>