<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnewze.back.clnewzeback.mapper.TUserMapper">
  <resultMap id="TUserRM" type="TUser">
    <id property="uno" column="uno" />
    <result property="id" column="id" />
    <result property="password" column="password" />
    <result property="userName" column="user_name" />
    <result property="creTime" column="cre_time" javaType="java.time.ZonedDateTime" />
    <result property="loginTime" column="login_time" javaType="java.time.ZonedDateTime" />
    <result property="nickName" column="nick_name" />
    <result property="birthday" column="birthday" javaType="java.time.LocalDate" />
    <result property="activated" column="activated" />
    <collection property="userAuthorities" resultMap="userAuthorityRM" columnPrefix="UA_"></collection>
  </resultMap>
  <resultMap id="userAuthorityRM" type="UserAuthority">
    <id property="uno" column="uno" />
    <id property="authorityName" column="authority_name" />
  </resultMap>
  

  <!-- 회원가입1 -->
  <!-- insert 구문 user 테이블만 적용 -->
  <insert id="inserUser">
    INSERT INTO
    t_user (id, password, user_name, cre_time, login_time, nick_name, birthday, activated)
    VALUES(#{id}, #{password}, #{userName}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{nickName}, #{birthday}, 1)
    <!-- selectKey를 통해 uno 값을 TUser에 저장해 준다. -->
    <selectKey resultType="Long" keyProperty="uno">
    SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <!-- 회원가입2 -->
  <!-- insert 구문 user 테이블 추가 이후, 사용 권한이 있는 유저 추가 -->
  <insert id="inserUserAuthority">
    INSERT into user_authority (uno, authority_name)
    VALUES(#{uno}, #{authorityName})
  </insert>

  <update id="updateUserInfo">
    UPDATE t_user SET
        id=#{id}
        password=#{password}
        user_name=#{userName}
        nick_name=#{nickName}
        birthday=#{birthday}
        activated=#{activated}
    WHERE uno=#{uno};
  </update>




  <!-- 간편 로그인 -->
  <select id="findByIdAndPassword" resultType="TUser">
    select * from t_user
    where id=#{id} and password=#{password}
  </select>
  <!-- 유저 검색 -->
  <select id="findOneById" resultType="TUser">
    select
    u1_0.uno,
    u1_0.id,
    u1_0.activated,
    u1_0.user_name,
    u1_0.nick_name,
    u1_0.password
    from
        t_user u1_0
    <where>
      and u1_0.id=#{id}
    </where>
  </select>

  <!-- 유저명 검색 -->
  <select id="findOneWithAuthoritiesById" resultMap="TUserRM">
    select
    u1_0.uno,
    u1_0.id,
    u1_0.activated,
    u1_0.user_name,
    u1_0.nick_name,
    u1_0.password,
    a1_0.uno UA_uno,
    a1_0.authority_name UA_authority_name
    from
        t_user u1_0
    left join
        user_authority a1_0 on u1_0.uno = a1_0.uno
    where u1_0.id=#{id}
  </select>
  <!-- select json_arrayagg(a1_1.authority_name) as authorities from -->
</mapper>