.blogCard {
  align-self: start;
  max-width:100%
}

.blogCardBody {
  text-align: left;
  font-size:16px;

  & .blogCardTitle {
    font-size:25px;
    text-align: left;
    font-weight: bold;
    display: -webkit-box;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  & .blogCardText {
    display: -webkit-box;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  & .blogBadgeTag {
    font-size:16px;
    font-weight: bold;
  }
}


