// 웹 환경 컨텐츠 - 각 사용자 컴포넌트 화면에 출력될 view 조정
.myPageContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

// 메뉴부분 view 단 지정
.myPageMenuComponent {
  background-color: #eee;
  padding: 3%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.myPageMenuContainer {
  text-align: center;
}

.myPageMenuContainer > button {
  width:200px;
  height:50px;
  margin:10px 10px 10px 10px;
}

.myPageWebContainer {
  text-align : left;
  margin: 5em 5em 5em 5em;
}

.myPageListGroupItem {
  padding: 5em 5em 5em 5em;
  cursor:pointer;
  width:90%;
  margin-left: 5%;
}

.myPageListGroupItem:hover {
  border-color: blue;
}

.myPageListGroupItem:active {
  background-color: blue;
}