.eventMainContainer {
  display:flex;
  align-items: center;
  justify-items: center;
  margin-bottom:100px;
  margin-top:10px;
}


.eventIconPrev {
  position:relative;
  width: 50px;
  height: 50px;
  font-size: 600%;
  text-align: center;
  margin-bottom: 100px;
}

.eventIconNext {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 600%;
  text-align: center;
  margin-bottom: 100px;
}

.eventBannerCover {
  position: relative;
  max-width: 900px;
  height: 200px;
  text-align:center;
}


.mainCommonHeader {
  display: grid;
  padding: 20px, 20px, 20px, 20px;
}

.mainCommonHeader h1 {
  position: absolute;
}

.mainCommonHeader p {
  position: relative;
  text-align: right;
  margin:20px;
}
